# Node modules
node_modules

# Laravel vendor directory
vendor

# Laravel environment files
.env

# IDE and editor files
.vscode
.idea

# Logs and temporary files
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

# Git files
.git
.gitignore

# Docker files
Dockerfile*
docker-compose*

# Other unnecessary files
tests
*.md
*.log
*.swp
